h1 {
	font-size: 35pt;
	color: #000099;
	border: 4px solid;
	border-color: #00CCFF; 
	margin-left: 100px;
	margin-right: 100px;
	
}
form {
	font-size: 25pt;
	
}

#textboxSize {
	height: 22px;
	font-size: 12pt;
}

.login {
	padding: 7px 32px;
	font-size: 12pt;
	margin-top: 20px;
}

.main_menu_buttons {
	padding: 10px 32px;
	font-size: 12pt;
	margin-top: 12px;
	background-color: #0099FF;
	border: none;
	cursor: pointer;
}